.drinks__item {
    width: 133px;
    height: 133px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
    list-style: none;

    img {
        width: 100%;
        height: 100%;
    }

    span {
        position: absolute;
        bottom: 5px;
        font-style: normal;
        font-weight: 800;
        font-size: 13px;
        line-height: 15px;
        color: rgba(255, 255, 255, 0.9);
    }

    .volume {
        left: 5px;
    }

    .price {
        right: 5px;
    }

    &:hover {
        border: 2px solid white;
    }

}

.active {
    border: 2px solid white;
}